<!-- public/views/nerd.html -->

<div class="jumbotron" ng-controller="ProfileController">


    <h1>Profile</h1><br>

    <div class="row">
        <div class="col-md-2 text-center">
            <div class="glyphicon glyphicon-user" style="background: silver; border-radius: 50px; font-size: 40px; padding: 20px;"></div>
            <p>{{username}}</p>
        </div>
        <div class="col-md-10">
            <form ng-submit="editUser()">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="name" ng-model="user.firstName" class="form-control" id="firstName" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="name" ng-model="user.lastName" class="form-control" id="lastName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="name" ng-model="user.email" class="form-control" id="email" placeholder="Email">
                </div>
            </form>
        </div>
    </div>
    <p><button type="submit" class="btn btn-info" style="float: right;" ng-click="">Edit</button> </p>




</div>