<!-- public/views/nerd.html -->

<div class="jumbotron" ng-controller="ProfileController">


    <h1>Profile</h1><br>

    <div class="row">
        <div class="col-md-2"><div class="glyphicon glyphicon-user" style="background: silver; border-radius: 50px; font-size: 40px; padding: 20px;"></div> </div>
        <div class="col-md-10">
            <p><b>Id:</b> {{user._id}}</p>
            <p><b>First Name:</b> {{user.firstName}}</p>
            <p><b>Last Name:</b> {{user.lastName}}</p>
            <p><b>Email:</b> {{user.email}}</p>
        </div>
    </div>
    <p><button class="btn btn-info" style="float: right;" ng-click="">Edit</button> </p>


</div>