<!-- public/views/nerd.html -->

<div class="jumbotron text-center">

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users</a></li>
        <li role="presentation"><a href="#create" aria-controls="create" role="tab" data-toggle="tab">Create</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="users">

            <h1>Users</h1>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in userList">
                        <td>{{user._id}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td><button class="btn btn-danger" ng-click="deleteUser(user._id)">Delete</button> </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div role="tabpanel" class="tab-pane" id="create">

            <h1>Create User</h1>
            <form ng-submit="createUser()">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="name" ng-model="user.firstName" class="form-control" id="firstName" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="name" ng-model="user.lastName" class="form-control" id="lastName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="name" ng-model="user.email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" ng-model="user.password" class="form-control" id="password" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>


        </div>
    </div>





</div>